.square {
    border-radius: 0px;
  }
  
  .jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    background-image: linear-gradient(to right, #007bff, #000);
    color: #fff;
  }
  

